.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
    }

    .reveal h1,
    .reveal h2,
    .reveal h3,
    .reveal h4,
    .reveal h5,
    .reveal h6  {
   text-shadow: 2px 2px 2px black;
}

div.title {position: fixed;
        top: 10px;
        left: 15%;
        max-width: 1500px;"}

div#gp_logo {width: 12%;}

div#gp_logo + img {width: 100%;}

/* estocazzo no? */
