.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
    }

    .reveal h1,
    .reveal h2,
    .reveal h3,
    .reveal h4,
    .reveal h5,
    .reveal h6  {
   text-shadow: 2px 2px 2px black;
}

.reveal h1 {position: absolute 100px 100px; }
