.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
    color: red;
}

body {
color: #258 !important;}

.reveal section p .reveal section fragment   {
  color: blue;
}
