/*WTH*/

/*Dummy text to change things
That need be changed*/

.bottom {font-size: 0.5em !important;
  position: fixed;
  bottom: 5%;
  margin-right: 10%;
  margin-left: 5%;
}

.fa-red {color: red; }

.fa-green {color: darkgreen;}

/*This is for logo*/

.borderless {position: relative; left: 70%; clear:both; top: -100px; margin-top: -40px;}

.borderless img {border: 0px !important;
    background: none !important;
    box-shadow: none !important;
    }

/*end logo*/

/* keep classes on top (bug?) */
/*yes, it must be bug! */

.reveal .slides {
}

.reveal .slides section>* {
    margin-left: 5%;
    margin-right: 1%;
    text-align: left;
    }

/*To keep elements more on top page*/
div.dom {position: fixed; top: 10%;}

/*To keep elements more on the lower part*/
div.bas {position: fixed; bottom: 15%;}

strong
      {
        color: #cc0000;
      }


.reveal h1 {
 text-shadow: 2px 2px 4px beige;
 color: #cc0000;
}

  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6  {
  text-shadow: 2px 2px 2px #bbb;
  color: #cc0000;
}


div.title {position: fixed;
        top: 10px;
        right: 10%;
        max-width: 60%;"}
